<footer class="relative h-fit z-74 text-center py-6 mt-10">
  <p class="text-white text-sm">
    &copy; 2025 Desarrollador con George Contreras con ❤.
  </p>
  <div class="flex flex-row justify-center items-center mt-2 space-x-4">
    <a href="https://www.linkedin.com/in/georgecontreras241" target="_blank" rel="noreferrer">
      <img
        src="./linkedin.svg"
        alt="LinkedIn"
        class="w-10 h-10 hover:scale-110 transition"
      />
    </a>
    <a href="https://github.com/GeorgeContreras241" target="_blank" rel="noreferrer">
      <img
        src="./git.svg"
        alt="GitHub"
        class="w-10 h-10 hover:scale-110 transition"
      />
    </a>
    <a href="mailto:maicolcontreras241@gmail.com" target="_blank" rel="noreferrer">
      <img
        src="./email.svg"
        alt="Correo"
        class="w-10 h-10 hover:scale-110 transition"
      />
    </a>
  </div>
</footer>
