<header
  class="hero-fade delay-4 sticky max-w-[1200px] w-[95%] top-0 m-auto flex items-center justify-between shadow-sm bg-[#000c1a]/10 h-[8dvh] backdrop-blur-sm z-9999 border border-white/7 rounded-full"
>
  <nav
    class="max-w-7xl w-full mx-auto px-6 py-4 flex items-center justify-between text-white"
  >
    <ul
      class="flex space-x-8 lg:text-lg font-medium align-center justify-center w-full"
    >
      <li>
        <a href="#inicio" class="hover:text-blue-400 transition">Inicio</a>
      </li>
      <li>
        <a href="#sobre-mi" class="hover:text-blue-400 transition">Sobre mí</a>
      </li>
      <li>
        <a href="#proyectos" class="hover:text-blue-400 transition">Proyectos</a
        >
      </li>
    </ul>
  </nav>
</header>
